@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}



.header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 18px;
}

.logo {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: 800;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 72px;
    justify-content: center;    
    
}

.left {    
    max-width: 450px;
    padding: 20px;
}

.top img {
    width: 600px;
    height: auto;
    padding: 20px;
}

.data.placehold {
    height: 150;
    width: auto;
}

.head {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #F9FAF8;
    filter: contrast(50%);
}

.data img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 25px;
}


.info {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 100px;
}

.data {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
}
  

button {
    background: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    font-weight: 900;
}


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    
}

a {
    text-decoration: none;
    color: black;
    color: #eee;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;    
    
}

.qtext {
    font-size: 36px;
    color: #1F2937;
    max-width: 900px;
}

.thor {
    font-weight: 700;
    font-size: 24px;
    padding-left: 500px;
}

.ad {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    margin: 60px auto;
    gap: 60px;
    padding: 40px;
    border-radius: 8px;
    width: 800px;
}

.aleft {
    display: flex;
    flex-direction: column;
    color: white;
}

.adtitle {
    font-size: 24px;
    font-weight: bold;
}

.ad button {
    border: 2px solid white;
    border-radius: 8px;
    margin: 12px;
    height: 32px;
}

.header,.footer,.top {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.footer {
    display: flex;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
}